@font-face {
  font-family: "HighSpirited";
  src: url(../fonts/HighSpirited.ttf) format("truetype");
}

@font-face {
  font-family: "Tenby_Five";
  src: url(../fonts/tenby-five.otf) format("opentype");
}

@font-face {
  font-family: "Dorado_Headline";
  src: url(../fonts/DoradoHeadline.ttf) format("truetype");
}

@font-face {
  font-family: "Headson";
  src: url(../fonts/Headson.otf) format("opentype");
}

@font-face {
  font-family: "HelloJucky";
  src: url(../fonts/HELLOJUCKY.otf) format("opentype");
}

html {
  scroll-behavior: smooth;
}

#show-ct {
  display: none;
}

a:link {
  color: #f9ffaa;
}

.arrows {
  position: relative;
}

.leftArrow {
  position: relative;
  width: 2.5rem;
  float: left;
  z-index: 3;
}

.rightArrow {
  position: relative;
  width: 2.5rem;
  float: right;
  z-index: 3;
}

.upArrow {
  width: 1.8rem;
  opacity: 50%;
}

body {
  margin: 0;
  padding: 0;
}

/* -------------- font top welcome -------------- */

.ft-1 {
  color: white;
  filter: drop-shadow 1px -1px 15px rgb(24, 20, 1);
  filter: drop-shadow(0px 0px 1px #33220e);
  text-shadow: 0.05em 0.04em 0.06em #130a00;
  font-family: HelloJucky;
}

.two {
  position: relative;
  color: #de996d;
  font-weight: 100;
}

.ft-welcome {
  font-family: Headson;
  color: #fbfbfb;
  text-shadow: 0em 0em 0.05em hsl(231deg 100% 4%);
}

.luizgouveia {
  font-size: 66pt;
  text-shadow: 1px 2px 0px #000000;
  color: rgb(255 215 157);
  font-family: HighSpirited;
  word-spacing: -15pt;
  font-weight: 500;
  position: relative;
  top: -5vh;
}

.fundo1 {
  background-image: url(../img/bg-top-mobile.png);
  background-size: cover;
  position: relative;
}

.fundo1-b {
  background-image: url(../img/gold.jpg);
  background-size: cover;
  position: relative;
}

.facepic {
  position: relative;
  filter: drop-shadow(0px 0px 11px black);
}

.cave {
  position: relative;
  filter: drop-shadow(0px 1px 5px black);
  background-color: black;
  height: 9px;
  width: 100%;
}
/* -------------- font top welcome end -------------- */

/* ------------- font infos about me ------------- */

.fundo2 {
  background-image: url(../img/background-mobile.png);
  padding-bottom: 15vh;
}

.ft-topic {
  font-size: 24px;
  font-family: Dorado_Headline;
  color: goldenrod;
  font-weight: bold;
  text-shadow: 1px 2px #0021ff;
}

p {
  font-size: 13pt;
  font-family: Tenby_five;
  color: #f6ff6b;
  line-height: 50px;
  text-shadow: 2.2px 2px 1px #001ff5;
  font-family: Tenby_five;
  letter-spacing: 0.9px;
  border-radius: 40px;
  text-align: justify;
}

.fundotexto {
  border: 0.01px solid #ffba247c;
  border-radius: 40px;
  background-color: #00010ada;
}

.gif {
  border-radius: 40px;
  border: solid 3px rgba(95, 210, 255, 0.322);
  filter: drop-shadow(1px 0px 9px rgb(0, 20, 39));
}

.footer {
  background-color: black;
}

/* ------------- font infos about me end------------- */

/* ------------- effects ------------- */

.fadein {
  -webkit-animation: fade-in 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: fade-in 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeout {
  -webkit-animation: fade-out 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: fade-out 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 10s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    both;
  animation: heartbeat 10s cubic-bezier(0.645, 0.045, 0.355, 1) infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* MEDIA QUERIES*/

@media (min-width: 720px) {
  #blackout {
    display: none;
  }

  #facepic {
    max-width: 90%;
  }

  #show-ct {
    display: block;
  }

  .luizgouveia {
    word-spacing: -18pt;
    top: -1vh;
  }

  .ft-1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 13pt;
  }
}

@media (min-width: 895px) {
  .ft-1 {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  #facepic {
    max-width: 70%;
  }

  .ft-1 {
    font-size: 2rem;
  }
}

@media (min-width: 1210px) {
  #text-wide {
    max-width: 60vh;
  }

  .ft-welcome-lg {
    font-size: 5rem;
  }

  .ft-1 {
    font-size: 2.8rem;
  }

  #facepic {
    max-width: 50%;
  }

  .luizgouveia {
    font-size: 7rem;
  }
}

@media (min-width: 1400px) {
  #text-wide {
    margin-bottom: 2vh;
    position: relative;
  }
}
